# Abilita il CORS solo per gli indirizzi IP della rete locale 192.168.x.x
<IfModule mod_headers.c>
    SetEnvIf Origin "^http://192\.168\.[0-9]{1,3}\.[0-9]{1,3}$" allowed_origin
    Header set Access-Control-Allow-Origin "*" env=allowed_origin
</IfModule>

